Source: certdump
Section: devel
Priority: extra
Maintainer: Paul Tagliamonte <paultag@gmail.com>
Build-Depends: debhelper (>= 10), dh-golang, golang-go,
 golang-pault-go-technicolor-dev,
 ruby-ronn,
Standards-Version: 4.0.0
Homepage: https://github.com/paultag/certdump
XS-Go-Import-Path: pault.ag/go/certdump

Package: certdump
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: very simple x.509 Certificate reader
 `certdump` contains U.S. Government PIV Certificate support through the
 `pault.ag/go/piv` library, and will extract a few PIV specific fields
 out of the x.509 Certificate.
 .
 This is intended to replace basically all usage where you wind up running
 something like `openssl x509 -in something.crt -inform der|pem -noout -text`.
